#main {
    padding: 3em 4em 3em 4em;
}

/*
@media screen and (max-width: 736px) {
    #main {
	   padding: 0em 0 4em 0 ;
    }
}
*/

.tiles {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin: 0 0;

}

.tiles article {
    /*-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;*/
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% -2.5em);
    margin-left: 2em;
    margin-right: auto;
    margin-bottom: 3em;
}

.tiles article > .image {
    /*-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;*/
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

}

.tiles article > .image img {
    position: relative;
    display: block;
    width: 100%;

}

.tiles article > .image:before {
    pointer-events: none;
    /*-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;*/
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.tiles article > .image:after {
    pointer-events: none;
    /*-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;*/
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.tiles article > a {
    /*display: -webkit-flex;
	display: -ms-flex;*/
    display: flex;

    /*-webkit-flex-direction: column;
    -ms-flex-direction: column;*/
    flex-direction: column;

    /*-webkit-align-items: center;
    -ms-align-items: center;*/
    align-items: center;

    /*-webkit-justify-content: center;
    -ms-justify-content: center;*/
    justify-content: center;

    /*-webkit-transition: background-image 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: background-image 0.5s ease, -ms-transform 0.5s ease;*/
    transition: background-image 0.5s ease, transform 0.5s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    color: #ffffff;
    /*words*/
    text-align: center;
    text-decoration: none;
    z-index: 3;
}

/*
.tiles article > a > :last-child {
    margin: 0;
}


.tiles article > a:hover {
    color: #ffffff;
}
*/
/*
.tiles article > a h2 {
    margin: 0;
}
*/
.tiles article > a h2 {
    /* change*/
    margin-top: 1.5em;
}

.tiles article > a .content {
    /*-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
    -ms-transition: max-height 0.5s ease, opacity 0.5s ease;*/
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
}

/*
.tiles article > a .content > :last-child {
    margin-bottom: 0;
}
*/


/*
.tiles article.style1 > .image:before {
    background-color: #f2849e;
}
*/

.tiles article.style1 > .image:before {
    background-image: url("../images/pink%20open.png");
    background-size: 100%;
}

.tiles article.style2 > .image:before {
    background-image: url("../images/orange%20open.png");
    background-size: 100%;
}

.tiles article.style3 > .image:before {
    background-image: url("../images/green%20open.png");
    background-size: 100%;
}

.tiles article.style4 > .image:before {
    background-image: url("../images/blue%20open.png");
    background-size: 100%;
}

.tiles article.style5 > .image:before {
    background-image: url("../images/bluedd%20open.png");
    background-size: 100%;
}

.tiles article.style6 > .image:before {
    background-image: url("../images/purple%20open.png");
    background-size: 100%;
}


.tiles article.style1 > .image:after {
    display: none;

}

/*
.tiles article.style2 > .image:before {
    background-color: #7ecaf6;
}

.tiles article.style3 > .image:before {
    background-color: #7bd0c1;
}


.tiles article.style4 > .image:before {
    background-color: #c75b9b;
}

.tiles article.style5 > .image:before {
    background-color: #ae85ca;
}

.tiles article.style6 > .image:before {
    background-color: #8499e7;
}

*/
body:not(.is-touch) .tiles article:hover > .image {
    /*放大效果*/
    transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
    background-color: #333333;
    opacity: 0.5;
}

/*
body:not(.is-touch) .tiles article:hover > .image:after {
    opacity: 0;
}
*/

body:not(.is-touch) .tiles article:hover .content {
    max-height: 15em;
    opacity: 1;
}

/*
* + .tiles {
    margin-top: 2em;
}

body.tiles article {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
}
*/

@media screen and (max-width: 1280px) {

    .tiles {
        margin: argin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(33.33333% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }
    
    .tiles article h2 {
        font-size: 3vh;
    }

    .tiles article p {
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 980px) {

    .tiles {
        margin: -3.5em 0 0 1.5em;
    }

    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

    .tiles article h2 {
        font-size: 3vh;
    }

    .tiles article p {
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 736px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

    .tiles article:hover > .image {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

    .tiles article h2 {
        font-size: 2.5vh;
    }

    .tiles article p {
        font-size: 2vh;
    }

}

@media screen and (max-width: 680px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

    .tiles article h2 {
        font-size: 2.5vh;
    }

    .tiles article p {
        font-size: 2vh;
    }
}

@media screen and (max-width: 480px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }

    .tiles article h2 {
        font-size: 2vh;
    }

    .tiles article p {
        font-size: 1.5vh;
    }
}
